<header>
    <nav>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/1">My Profile</a></li>
            <li><a href="/posts/create">Create Post</a></li>
            <li><a href="/users/create/">Create User</a></li>
        </ul>
    </nav>
</header>