/* Add your styles here. */
h1 {
    background-image: url("https://www.pbs.org/wgbh/nova/media/original_images/nova-wonders-whats-the-universe-made-of-hero_WxVWP1e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    }
body{
    background-color: rgb(165, 181, 228);
}
/* ol.solid {border-style: solid;}
ul { list-style-type: none; } */

/* for post list */
tr{
    background-color: rgb(143, 158, 201);
}

.flex-container-post-list {
    background-color: rgb(224, 20, 20);
    display: flex;
    flex-wrap: wrap;
    }

@media screen and (max-width : 400px)
{
    body{
        font-size: small;
        }
    td{
        font-size: small;
      }
}

button.post-button[type=submit] {
    background-color: rgb(69, 103, 207);
    border: none;
    color: white;
    padding: 2px ;
    text-decoration: none;
    margin: 0px 0px;
    cursor: pointer;
    font-size: x-small;
}

/* for create user */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: rgb(69, 103, 207);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* for header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(69, 103, 207);
  }
  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }